<?xml version="1.0"?>
<!--
/**
 * Kerastase Package
 * User: wbraham
 * Date: 7/8/19
 * Time: 12:02 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Kerastase\CODFee\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Kerastase\CODFee\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Kerastase_cod_logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Kerastase\CODFee\Logger\Handler</item>
            </argument>
        </arguments>
    </type>









</config>