<?xml version="1.0"?>
<!--
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Plenty_Order::config_plenty_order"
             title="Plenty order"
             translate="title"
             module="Plenty_Order"
             sortOrder="40"
             parent="Plenty_Core::config"
             action="adminhtml/system_config/edit/section/plenty_order/"
             resource="Plenty_Order::configuration"/>
    </menu>
</config>