<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Solrbridge. All rights reserved.
 * See LICENSE.txt for more details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Solrbridge_Custom" setup_version="1.0.0" active="true"></module>
    <sequence>
        <module name="Magento_Catalog"/>
    </sequence>
</config>