<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\Marketplace\Observer\SalesOrderSuccessObserver" type="Mangoit\Vendorcommission\Observer\SalesOrderSuccessObserver" />
    <preference for="Webkul\Marketplace\Observer\SalesOrderPlaceAfterObserver" type="Mangoit\Vendorcommission\Observer\SalesOrderPlaceAfterObserver" />
    <!-- <event name="checkout_submit_all_after">
        <observer name="autosynch_sales_order_place_after" instance="Mangoit\Vendorcommission\Observer\OrderPlaceAfter" />
    </event> -->
</config>