<?xml version="1.0"?>
<!--
/**
 * Mangoit Software.
 *
 * @category  Mangoit
 * @package   Webkul_AmazonIntegration
 * @author    Mangoit
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mangoit_AmazonIntegration" setup_version="1.0.0">
    </module>
</config>
