<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dhl" translate="label" sortOrder="10">
            <label>DHL Setting</label>
        </tab>
        <!-- <section id="helloworld" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1"> -->
        <section id="dhl_setting" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Setting</label>
            <tab>dhl</tab>
            <!-- <resource>Mageplaza_HelloWorld::helloworld_config</resource> -->
            <resource>Mangoit_Dhlshipment::dhlshipment_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <field id="dhl_fee" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>DHL Label Fee</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="display_text2" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label 1</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="display_text3" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label 1</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="display_text4" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label 1</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="display_text5" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Label 1</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>