<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  Cnnb
 * @package   Cnnb_WhatsappApi
 * @author    Cnnb
 * @copyright Copyright © CNNB All rights reserved.
 *
 * Cnnb_WhatsappApi config.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <internationaltelephoneinput>
            <general>
                <enabled>1</enabled>
                <allow></allow>
            </general>
        </internationaltelephoneinput>
    </default>
</config>