<?xml version="1.0"?>
<!--
/**
 * @category  Cnnb
 * @package   Cnnb_WhatsappApi
 * @author    Cnnb
 * @copyright Copyright © CNNB All rights reserved.
 *
 * Cnnb_WhatsappApi routes.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="whatsappapi" frontName="whatsappapi">
            <module name="Cnnb_WhatsappApi" />
        </route>
    </router>
</config>