<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2017 SolrBridge, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="solrbridge_category_view_layout_load_before" instance="Solrbridge\Search\Observer\Category\View\LayoutLoadBefore" />
    </event>
</config>