<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google_review>
            <general>
                <enabled>1</enabled>
            </general>
            <info>
                <enable>1</enable>
                <business_name>Default Business Name</business_name>
                <business_type>Organization</business_type>
                <country_id>AE</country_id>
                <region_id>486</region_id>
                <postcode>13362</postcode>
                <city>Dubai</city>
                <street_line>Box No. 13362</street_line>
                <telephone>+055-1232037</telephone>
                <enable_aggregate_for_business>1</enable_aggregate_for_business>
                <business_review_value>4</business_review_value>
                <business_review_best>5</business_review_best>
                <business_review_count>25</business_review_count>
                <business_review_author>Default Author Name</business_review_author>
                <enable_site_link_search>0</enable_site_link_search>
            </info>
            <product>
                <enabled>0</enabled>
                <product_types>simple</product_types>
                <product_default_best_rating>5</product_default_best_rating>
                <product_default_rating_value>1</product_default_rating_value>
                <product_default_rating_count>14</product_default_rating_count>
                <product_default_rating_author>John Peter</product_default_rating_author>
                <product_brand>mgs_brand</product_brand>
                <default_product_brand>Kerastace</default_product_brand>
            </product>
        </google_review>
    </default>
</config>