.result-sub-content .action.tocart.primary { opacity: 1 !important; visibility: visible !important; position: static !important; }
ol.ais-InfiniteHits-list > li {
    width: 25%;
    float: left;
    padding: 0 10px;
    overflow: hidden;
}
ol.ais-InfiniteHits-list {
    margin: 0 -10px;
}
 
#algolia_instant_selector ol.ais-InfiniteHits-list li .col-md-3 {
    width: 100%;
    padding: 0;
}
.result-thumbnail {
    position: relative; overflow: auto;
}
.result-thumbnail:hover:before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(0,0,0,0.3);
}
 .result-wrapper .hover-effect .tocart {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
       line-height: 40px;
    white-space: nowrap;
    background-color: #fff;
    padding: 0 13px;
    text-align: center;
    
    border: none;
    opacity: 1;
    visibility: visible;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
}
 .result-wrapper .hover-effect .tocart:hover{ background: #000; }
.result-wrapper .hover-effect .tocart:hover span { color: #fff; }
ul.actions-link {
    position: absolute;
    left:8px;
    top: 5px;
}
.hover-effect {
    display: none;
}
.result-content:hover .hover-effect  { display: inline-block;     position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
.hover-effect ul li button { background: none; border: none; margin: 4px 0;}
.result-content .hover-effect ul li button  span:before, .result-content .hover-effect ul li button  i:before { color: #fff; font-size: 18px; -webkit-transition: all 0.1s ease-in-out; opacity: 0
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
 .result-content:hover .hover-effect:hover ul li button  span:before, .result-content:hover .hover-effect:hover ul li button  i:before { color: #fff; font-size: 18px; -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; opacity: 1}
.result-thumbnail > img { max-width: 100%; }
li.ais-RefinementList-item {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    padding: 10px 50px 7px 0;
}
li.ais-RefinementList-item:hover label { color: #222; }
li.ais-RefinementList-item label { margin-bottom: 0px; }
.name.filter-options-title { font-weight: 600; }
    
div#hits-per-page {
    float: none;
    margin: 0 10px;
    display: inline-block; position: relative;
}
div#hits-per-page select { border-radius: 20px;     height: 40px; background: transparent; }
#hits-per-page:after{
    content: "\f107";
    position: absolute;
    font-family: "FontAwesome";
    right: 16px;
    top: 5px;
    pointer-events: none;
}
.page-with-filter #algolia_instant_selector .pull-right {
    float: right;
    width: 100%;
    text-align: center;
}
body .ais-RangeSlider .rheostat-progress {
    background-color: #56cfe1;
}
body .rheostat-tooltip {
    margin-left: 50%;
    position: absolute;
    top: -26px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #428bca;
    color: #fff;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 5px;
}
body .rheostat-handle {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #56cfe1;
    border: 1px solid #56cfe1;
    border-radius: 50%;
    cursor: -webkit-grab;
    cursor: grab;
}
.page-with-filter #algolia_instant_selector .pull-left {
    float: right !important;
}
@media(max-width: 767px) {
    div#hits-per-page { display: none; }
    #refine-toggle {
    font-size: 0;
    width: 26px;
    height: 26px;
    
    background: url(../images/filter.png) no-repeat 0 0;
    padding: 0 !important;
    border: none !important;
}
#algolia_instant_selector .visible-sm#refine-toggle  { display: inline-block !important; }
.page-with-filter #algolia_instant_selector .pull-left { float: right !important; }
body #algolia_instant_selector .hidden-sm {
    display: inline-block !important;
    width: 100%;
}
body #algolia_instant_selector #instant-search-facets-container {
    display: inline-block !important;
    width: 90%;
    position: fixed;
    top: 0;
    left: -0%;
    z-index: 500000;
    background: #fff;
    /* bottom: 0; */
    overflow: auto;
    height: 100vh;-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; padding: 10px;
}
#algolia_instant_selector .col-md-9 > .row:first-child {
    display: none;
}
#algolia_instant_selector > .row > .col-md-3 {
   width: auto;
   display: inline-block;
}
#algolia_instant_selector .col-md-9 > .row  .col-md-12 .pull-right {
    margin-top: -62px;
}
body #algolia_instant_selector .hidden-sm#instant-search-facets-container {
    display: inline-block !important;
    width: 90%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    background: #fff;
    /* bottom: 0; */
    overflow: auto;
    height: 100vh;-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; padding: 10px;
}
.header .table-icon-menu {
    display: table;
    margin: 0 0;
    position: absolute;
    right: 20px;
    top: 17px;
}
body .header .table-icon-menu>div {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 8px 16px 0;
}
/*body #algolia_instant_selector .hidden-sm#instant-search-facets-container:before  { display: none; }
body #algolia_instant_selector #instant-search-facets-container:before { content: ""; background: rgba(0,0,0,0.5); width: 100%; height: 100%; position: fixed; z-index: 50000; top:0px; left:0; right: 0; bottom: 0; }*/
}
span.algolia-autocomplete{
    display: none !important;
}
span.algolia-autocomplete.show-hide-search {
    display: inline-block!important;
    position: absolute !important;
    width: 300px;
    right: -40px;
    top: 21px;
}
#algolia-glass {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/search.png) no-repeat 0 0 / 100%;
}
span.algolia-autocomplete.show-hide-search {
    background-color: #fff;
}
/* 07-12-2020 For remove grey color background */
.ais-Panel-header {background: white !important;}
li.ais-CurrentRefinements-item {background: white !important;}
.algolia-infos {background: white !important;}
/* -- Category Page | Product list fix */
ol.ais-Hits-list { display: flex; flex-wrap: wrap;}
ol.ais-Hits-list  li { width: 25% !important }
ol.ais-Hits-list  li > div { width: 100% !important;}
/* -- Category Page | Product list fix Ends*/
/* 07-12-2020 For remove grey color background ends */
/* --- All CMS Page Search Design Fix --- */
.cms-index-index .page-title-wrapper+.page-main { margin-top: 0; margin: 0 auto; max-width: 1200px;}
.cms-page-view section#maincontent {max-width: 1200px; margin: 0 auto;}
/* --- All CMS Page Search Design Fix Ends --- */

#algolia-autocomplete-container .aa-dropdown-menu {
    right: -40px !important;
}

@media (max-width: 991px) {
    #algolia-autocomplete-container .col9 {
        width: 100%;
    }
}
/*-- Price Filter Fix ----*/
.rheostat-marker:nth-child(5n+5){height:10px}
.rheostat-marker-large:last-child{height:10px}
/*-- Price Filter Fix Ends ----*/

/*--- For showing 2 products in a row ---*/
@media(max-width: 767px){
    ol.ais-Hits-list li {
    width: 50% !important;
}
/*--- For showing 2 products in a row ends ---*/

span.algolia-autocomplete.show-hide-search {
    display: inline-block!important;
    position: absolute !important;
    width: 300px;
    right: -20px;
    top: 21px;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category {
 
    white-space: normal;

    /* text-overflow: ellipsis; */
}

    #algolia-autocomplete-container .aa-dropdown-menu, [lang='ar'] #algolia-autocomplete-tt.algolia-autocomplete
    {
        left: 0 !important;
        right: 0 !important;
    }

#algolia-autocomplete-container .aa-dropdown-menu { z-index: 2 !important }
}

mark, .mark {
    padding: .2em;
    background-color: transparent;
}