<?xml version="1.0"?>
<!--
/**
 * @category  Cnnb
 * @package   Cnnb_OwlCarouselFix
 * @author    Cnnb
 * @copyright Copyright © CNNB All rights reserved.
 *
 * Cnnb_OwlCarouselFix Module Declaration and Dependancies 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cnnb_OwlCarouselFix" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>