<?xml version="1.0"?>
<!--
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <plenty_customer>
                <dev>
                    <debug_enabled>1</debug_enabled>
                    <debug_directory>customer</debug_directory>
                    <debug_level>[1,2,3,5]</debug_level>
                </dev>
            </plenty_customer>
        </system>
    </default>
</config>