<?xml version="1.0"?>
<!--
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- add plenty order to sales order repository -->
    <preference for="Plenty\Order\Api\Data\Export\OrderInterface" type="Plenty\Order\Model\Export\Order"/>
    <preference for="Plenty\Order\Api\OrderExportRepositoryInterface" type="Plenty\Order\Model\Export\OrderRepository"/>
    <!--type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="save_plenty_order_data" type="Plenty\Order\Model\Plugin\OrderSave"/>
        <plugin name="get_plenty_order_data" type="Plenty\Order\Model\Plugin\OrderGet"/>
    </type-->

    <!-- add plenty item data to sales order item interface -->
    <type name="Plenty\Order\Model\Plugin\QuoteItem" shared="false" />
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="plenty_convert_quote_item_to_order" type="Plenty\Order\Model\Plugin\QuoteItem"/>
    </type>

    <!-- add plenty order data to sales order grid -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="plenty_order_id" xsi:type="string">sales_order.plenty_order_id</item>
                <item name="plenty_order_status" xsi:type="string">sales_order.plenty_order_status</item>
            </argument>
        </arguments>
    </virtualType>

    <preference for="Plenty\Order\Api\Data\Profile\OrderExportInterface" type="Plenty\Order\Profile\Export\Entity\Order"/>

    <!-- ORDER EXPORT MANAGEMENT INTERFACE -->
    <preference for="Plenty\Order\Api\OrderExportManagementInterface" type="Plenty\Order\Profile\OrderExportManagement"/>
    <preference for="Plenty\Order\Api\AddressExportManagementInterface" type="Plenty\Order\Profile\AddressExportManagement"/>
    <preference for="Plenty\Order\Api\ContactExportManagementInterface" type="Plenty\Order\Profile\ContactExportManagement"/>
    <preference for="Plenty\Order\Api\PaymentExportManagementInterface" type="Plenty\Order\Profile\PaymentExportManagement"/>

    <!-- LOGGER -->
    <virtualType name="PlentyOrderVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Plenty\Order\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Plenty\Order\Model\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">PlentyOrderVirtualLogger</argument>
        </arguments>
    </type>
</config>