<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category  Cnnb
 * @package   Cnnb_AlgoliaFix
 * @author    Cnnb
 * @copyright Copyright © CNNB All rights reserved.
 *
 * Cnnb_AlgoliaFix di.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Algolia\AlgoliaSearch\Helper\Entity\ProductHelper" type="Cnnb\AlgoliaFix\Helper\Entity\ProductHelper"/>
</config>