<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Smartwave\Filterproducts\Block\Home\LatestList" type="Mangoit\FskRestricted\Block\Filterproducts\LatestList" />
	<preference for="Smartwave\Filterproducts\Block\Home\FeaturedList" type="\Mangoit\FskRestricted\Block\Filterproducts\FeaturedList" />
</config>