<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->
<table>
 <tr>
  <td id="merchant-footer" style="background:#eaeaea;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px" valign="top">
   <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
     <tr>
      <td style="padding:9px" valign="top" align="center">
       <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
         <tr>
          <td style="padding-left:9px;padding-right:9px" align="center">
           <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
             <tr>
              <td style="padding-top:9px;padding-right:9px;padding-left:9px" valign="top" align="center">
               <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                 <tr>
                  <td valign="top" align="center">

                   <table style="display:inline;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="left">
                    <tr>
                     <td width="100%" valign="middle" align="center">
                      <a href="#" style="display:inline-block; margin: 0 5px;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:inline-block;border:0;height:auto;outline:none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                      <a href="#" style="display:inline-block; margin: 0 5px;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:inline-block;border:0;height:auto;outline:none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                      <a href="#" style="display:inline-block; margin: 0 5px;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display:inline-block;border:0;height:auto;outline:none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                      <a href="#" style="display:inline-block; margin: 0 5px;"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" style="display:inline-block;border:0;height:auto;outline:none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                     </td>

                    </tr>
                   </table>
                  </td>
                 </tr>
                </tbody>
               </table>
              </td>
             </tr>
            </tbody>
           </table>
          </td>
         </tr>
        </tbody>
       </table>
      </td>
     </tr>
    </tbody>
   </table>

   <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
     <tr>
      <td style="padding-top:9px" valign="top">

       <table style="max-width:300px;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
        <tbody>
         <tr>
          <td style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center" valign="top">
           <p style="margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center; float"><strong>Kontakt:</strong>
            <br> E-Mail: <a href="mailto:sales-team@bestware.com" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank">admin.store@mygermany.com</a>
            <br> Phone:&nbsp;+49 3643 72 666-0
            <br> MO-FR 9:00 - 16:00 Uhr
            <br> &nbsp;
           </p>
           <p style="margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center"><strong>Impressum:</strong>
            <br> &nbsp; myGermany GmbH
            <br> Nordstrasse 5
            <br> 99427 Weimar Deutschland</p>
           </td>
          </tr>
         </tbody>
        </table>
       </td>
       <td style="padding-top:9px" valign="top">
        <table style="max-width:300px;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
         <tbody>
          <tr>
           <td style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center" valign="top">
            <p style="margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">Ust.–IDNr.: DE293153410
             <br> Amtsgericht Jena, HRB 513646</p>
             <p style="margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center"><strong>Geschäftsführung:</strong>
              <br> Christian Schmalisch
              <br> Christian Krause
              <br> Sebastian Meier
              <br>
             </p>
            </td>
           </tr>
          </tbody>
         </table>

        </td>
       </tr>
      </tbody>
     </table>
     <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
       <tr>
        <td style="padding-top:9px" valign="top">

         <table style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
          <tbody>
           <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center" valign="top">
             <p style="text-align:center;margin:10px 0;padding:0;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%"><em>Copyright
              © 2020 myGermany GmbH, All
             rights reserved.</em>
             <br> Sie erhalten diese E-Mail, weil Sie dem Erhalt von Info-Mails der myGermay GmbH zugestimmt haben oder in einer Kundenbeziehung mit der Schenker Technologies GmbH stehen und unseren AGB zugestimmt haben.
             <span style="font-size:12px"><span style="color:#000000"></span></span>
             <br>
             <span style="font-size:12px"><span style="color:#000000"></span></span>
            </p>
            <div style="text-align:center"><span style="font-size:12px"><span style="color:#000000">
             <a style="color:#656565;font-weight:normal;text-decoration:underline">Hier</a></span> Klicken zum Anpassen Ihrer eMail-Einstellungen
             <br>
            </span>
           </div>
          </td>
         </tr>
        </tbody>
       </table>

      </td>
     </tr>
    </tbody>
   </table>
  </td>
 </tr>
</table>
<!-- End wrapper table -->
</body>
