<!--@subject Seller Profile Verification @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">Hi Admin,</p>

<table style="width:60%; padding: 10px;">
	<tr>
		<td style="padding: 10px 10px 10px 0px; width: 100%;">
			Ther is a request from a seller name {{trans "%name" name=$data.name}} and seller id is {{trans "%sellerId" sellerId=$data.sellerId}} to approve there profile.
		</td><br/>
	</tr>
</table>
{{template config_path="design/email/footer_template"}}
