<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <translation>
            <translationsettings>
                <email_template>translation_translationsettings_email_template</email_template>
            </translationsettings>
        </translation>
    </default>
</config>
