<?xml version="1.0"?>
<!--
    /**
    * @author     MangoIt
    * @package    MangoIt_TranslationSystem
    * @copyright  Copyright (c) 2015 MangoIt Solutions (http://www.mangoitsolutions.com/)
    *
    * For the full copyright and license information, please view the LICENSE
    * file that was distributed with this source code.
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- module introduced preferences -->
    <preference for="Mangoit\TranslationSystem\Model\Api\AttachmentContainerInterface"
                type="Mangoit\TranslationSystem\Model\AttachmentContainer"/>

    <preference for="Webkul\MarketplacePreorder\Model\PreorderSellerManagement" type="Mangoit\TranslationSystem\Model\Webkul\MarketplacePreorder\PreorderSellerManagement" />
    <preference for="Webkul\MarketplacePreorder\Helper\Data" type="Mangoit\TranslationSystem\Helper\Webkul\MarketplacePreorder\Data" />
</config>
