<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Change Price Round -->
<!--     <preference for="Magento\Directory\Model\PriceCurrency" type="Kerastase\Core\Model\Directory\PriceCurrency" />
    <type name="Magento\Framework\Locale\Format">
        <plugin name="change_price_format" type="Kerastase\Core\Plugin\Price\PriceFormat" />
    </type>
    <type name="Magento\Directory\Model\Currency">
        <plugin name="change_price_format_currency_model" type="Kerastase\Core\Plugin\Directory\Currency\PriceFormatPrecision" />
        <plugin name="change_price_output_format_currency_model" type="Kerastase\Core\Plugin\Directory\Currency\PriceFormatSpace" />
    </type>
-->
<!--
    <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="descrypt_customer_data" type="Kerastase\Core\Plugin\Customer\Data\Customer" />
    </type>

    <type name="Magento\Customer\Model\Data\Address">
        <plugin name="descrypt_customer_address_data" type="Kerastase\Core\Plugin\Customer\Data\Address" />
    </type>
-->

</config>
