<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="scommerce_cookie_popup_customer_register_success" instance="Scommerce\CookiePopup\Observer\CustomerRegister"/>
    </event>
    <event name="customer_login">
        <observer name="scommerce_cookie_popup_customer_login_observer" instance="Scommerce\CookiePopup\Observer\CustomerLogin" />
    </event>
</config>
