<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="kerastase_giftrule_checkout_customerdata_free_gift" type="Kerastase\GiftRule\Plugin\CustomerData\Checkout\FreeItem" sortOrder="1"/>
    </type>
    <preference for="Magento\Checkout\CustomerData\Cart" type="Kerastase\GiftRule\CustomerData\Cart" />
</config>